
/* PARTNERS */

.partners-wrap {
    margin: 0;
    padding: 0;
    width: 100%;
    position: relative;
}

.golden-partners {
    background-color: white;
    margin-top: 30vh;
    padding: 5%;
    width: 100%;
	display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.golden-partners img {
    width: 15%;
    height: 20%;
}

.individuals {
    width: 45%;
    min-height: 600px;
    margin: 2%;
    margin-top: 15%;
    padding: 2%;
    float: left;
    background-color: white;
    color:rgb(29, 29, 29)
}

.individuals h2 {
    width: 100%;
    font: 2rem namefont;
    color: #ff0053;
    text-align: center;
    margin-bottom: 10%;
}


.individuals img {
    border-radius: 150px;
    width: 250px;
    display: block;
    margin: auto;
}

@media only screen and (max-width: 600px)
{
.golden-partners img {
    width: 30%;
    margin:10%;
}

.individuals {
    width: 100%;
    margin: 0;
    margin-top: 10%;
    padding: 5%;
}

}
